/* Datepicker */
.datepicker.datepicker-dropdown,
.datepicker.datepicker-inline {
	padding: 0;
	max-width:500px;
	min-width: 150px;

	.datepicker-days {
		padding: 0;

		table.table-condensed {
			width: 100%;

			thead {
				tr {
					th {
						text-align: center;
						padding: 0.5rem 0;
						font-family: $type3;

						&.prev {
							color: $white;
							padding-bottom: .2rem;
							padding-top: .2rem;
							background: transparent;
						}

						&.datepicker-switch {
							color: $white;
							background: transparent;
							padding-bottom: .2rem;
							padding-top: .2rem;
							font-size: .75rem;
							font-weight: 600;
						}

						&.next {
							color: $white;
							padding-bottom: .2rem;
							padding-top: .2rem;
							background: transparent;
						}

						&.dow {
							color: $gray;
							text-transform: uppercase;
							font-size: 0.625rem;
							font-weight: initial;
						}
					}
				}
			}

			tbody {
				position: relative;
				//top: 13px;

				td {
					text-align: center;

					&.day {
						font-size: 0.75rem;
						color: $white;
						font-weight: $font-weight-500;
						position: relative;

						&:before {
							content: "";
							width: 22px;
							height: 22px;
							background: $success;
							@include border-radius(100%);
							margin: auto;
							vertical-align: middle;
							position: absolute;
							top: -2px;
							z-index: -1;
							left: 0;
							right: 0;
							display: none;
						}

						&:hover {
							background: transparent;
							color: $body-color;
							&:before {
								display: block;
							}
						}

						&.active {
							color: #fff;
							background: transparent;
							position: relative;
							z-index: 1;

							&:before {
								display: block;
							}
						}

						&.today {
							color: $success;
							background: transparent;
							position: relative;
							z-index: 1;
						}
					}

					&.old.day {
						color: $gray;
						font-weight: normal;
					}

					&.new.day {
						color: $gray;
						font-weight: normal;
					}
				}
			}
		}
	}
}

.datepicker.datepicker-light {
	background: #f00;
}

.datepicker.datepicker-inline {
	width: 100%;
	max-width: 100%;
	min-width: 150px;

	thead {
		tr {
			th {
				&.prev {
					color: grey;
					padding-bottom: 0.5rem;
					padding-top: 0.5rem;
				}

				&.datepicker-switch {
					color: $white;
					padding-bottom: 0.5rem;
					padding-top: 0.5rem;

					&:hover {
						background: #2c2f41;
					}
				}

				&.next {
					color: grey;
					padding-bottom: 0.5rem;
					padding-top: 0.5rem;
				}

				&.dow {}
			}
		}
	}
}

.datepicker {
	> div {
		display: initial;
		padding: 0.375rem 0.75rem;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		text-align: center;
		white-space: nowrap;
		border-radius: 2px;
	}

	&.input-group {
		border: 1px solid $border-color;
		padding: 0;

		.form-control {
			border: none;
		}
	}
}

.datepicker-dropdown {
	&:after {
		border-bottom-color: $dropdown-bg;
	}
	&:before {
		border-bottom-color: $border-color;
	}
	&.datepicker-orient-top {
		&:before,
		&:after {
			top: auto;
		}
		&:after {
			border-top-color: $dropdown-bg;
		}
		&:before {
			border-top-color: $border-color;
		}
	}
}